//
// TEXT
//





//////////////////////////////////////////////////////////////////////
// GENERAL
//////////////////////////////////////////////////////////////////////


p, span, pre { 
	font-size: $font-size;
	color: $global-text-color;
}





//////////////////////////////////////////////////////////////////////
// ANCHOR
//////////////////////////////////////////////////////////////////////


a {
	color: $global-color-primary;
}