//
// LIST COMPONENT
//





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


//
// LIST
//

.c-Timeline {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
    @include md {
        text-align: left;
    }
}


//
// ITEM
//

//
// 1. Makes the line stand in the center of icon
//

.c-Timeline-Item {
    position: relative;
    margin-bottom: $spacing;
    padding-bottom: $spacing-xl;
    list-style: none;

    &:after {
        content: "";
        position: absolute;
        bottom: -0;
        left: calc(50% - .5px); // 1
        width: 1px;
        height: $spacing-xl;
        background-color: $global-color-light-grey;
    }

    &:last-child {
        padding-bottom: 0;
        &:after {
            content: none;
        }
    }

    @include md {
        &:after {
            content: none;
        }
    }

}


//
// BODY
//

.c-Timeline-Body {
    @include md {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


//
// ICON
//

//
// 1. Makes the line stand in the center of icon
// 2. Makes the line go to the left instead of to the right
//

.c-Timeline-Icon {
    @include md {
        position: relative;
        margin-left: $spacing-s;
        padding-left: $spacing-xl;

        &:after {
            content: "";
            position: absolute;
            top: calc(50% - .5px); // 1
            left: -0; // 2
            width: $spacing-xl;
            height: 1px;
            background-color: $global-color-light-grey;
        }
    }
}


//
// TIME
//

.c-Timeline-Time {
    display: inline-block;
    margin-bottom: $spacing;

    @include md {
        display: block;
        margin-bottom: 0;
        width: 100px;
        text-align: right;
    }
}


//
// CONTETN
//

.c-Timeline-Content {
    @include md {
        margin-left: $spacing;
    }
}


//
// TITLE
//

//
// 1. Clear default margin of h1, h2, h3...h6
//

.c-Timeline-Title {
    @include md {
        margin-bottom: 0; // 1
    }
}


//
// TEXT
//

.c-Timeline-Text {
    @include md {
        width: 300px;
        margin-top: 0;
        margin-bottom: 0;
    }
}