//
// FRAME COMPONENT
//





//////////////////////////////////////////////////////////////////////
// VARIABLES
//////////////////////////////////////////////////////////////////////


$frame-top-spacing:          $spacing-xl;
$frame-bottom-spacing:       $spacing;
$frame-side-spacing:         $spacing-xl;
$frame-side-spacing-mobile:  $spacing;

$frame-spacing: $frame-top-spacing $frame-side-spacing  $frame-bottom-spacing  $frame-side-spacing;
$frame-spacing-mobile: $frame-top-spacing $frame-side-spacing-mobile  $frame-bottom-spacing  $frame-side-spacing-mobile;





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


.c-Frame {
    padding: $frame-spacing-mobile;
    @include md {
        padding: $frame-spacing;
    }
}