//
// MENU COMPONENT
//





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


//
// MENU
//

.c-Menu {
	position: fixed;
	z-index: $global-z-index-menu;
	top: 0;
	left: 0;
	background-color: white;
  	display: flex;
 	width: 100%;
  	flex-direction: column;
  	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	@include md {
		border: $global-border;
		flex-direction: row;
		padding: 0 $frame-side-spacing;
	}
}


.c-Menu-Header {
	background-color: white;
	border-bottom: $global-border;
	padding: $padding;
	position: relative;
	width: 100%;
	z-index: $global-z-index-menu;
	@include md {
		border: none;
		padding-left: 0;
	}
}


//
// ITEMS
//

//
// 1. Clear defaults for ul
//

.c-Menu-Items {
	background-color: white;
	margin: 0; // 1
	margin-top: -150%;
	opacity: 0;
	padding: 0; // 1
	position: absolute;
	width: 100%;
	z-index: 1;
	transition: $global-transition;

	@include md{
		position: static;
		margin: 0;
		opacity: 1;
		display: flex;
		justify-content: flex-end;
	}

	&.is-shown {
		margin: 0;
		opacity: 1;
	}
}


//
// ITEM
//

.c-Menu-Item {
	border-bottom: $global-border;
	list-style: none;
	
	@include md{
		border: none;
	}
}

//
// TRIGGER
//


.c-Menu-Trigger {
	@include md {
		display: none;
	}
}


//
// ANCHOR
//

.c-Menu-Anchor {
	display: block;
	padding: $spacing-s;
	text-align: center;
	text-decoration: none;
	color: $global-text-color;
	border-bottom: 2px solid transparent;

	&.is-active, &:hover{
		color: $global-text-color-active;
		border-color: $global-text-color-active;
	}
}