//
// LIST COMPONENT
//





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


//
// LIST
//

.c-List {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}


//
// ITEM
//

.c-List-Item {
    margin: 0;
    list-style: none;
}





//////////////////////////////////////////////////////////////////////
// DIRECTION MODIFIERS
//////////////////////////////////////////////////////////////////////


.c-List-column {
    flex-direction: column;
}





//////////////////////////////////////////////////////////////////////
// TYPE MODIFIERS
//////////////////////////////////////////////////////////////////////


//
// DASH
//

.c-List-dash {
    .c-List-Item {
        position: relative;
        margin-left: 10px;
        padding-left: 10px;

        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            top: calc(50% - 1px);
            right: 100%;
            background-color: $global-color-secondary;
        }
    }
}





//////////////////////////////////////////////////////////////////////
// SPACING MODIFIERS
//////////////////////////////////////////////////////////////////////


.c-List-gutter {
    .c-List-Item {
        margin-right: $spacing;
        margin-bottom: $spacing;
    }
}