//
// BUTTON COMPONENT
//





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


.c-Button {
  display: inline-block;
  padding: $spacing-s $spacing;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: $font-size;
  font-weight: 400;
  border-radius: 5px;

  &:hover, &.is-active {
    box-shadow: none;
  }
}





//////////////////////////////////////////////////////////////////////
// COLOR MODIFIERS
//////////////////////////////////////////////////////////////////////


.c-Button-primary {
  background-color: $global-color-primary;
  color: white;
}





//////////////////////////////////////////////////////////////////////
// SIZE MODIFIERS
//////////////////////////////////////////////////////////////////////


.c-Button-small {
  padding: $spacing-xs $spacing-s;
}