//
// GRID COMPONENT
//





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


.c-Grid {
    display: flex;
    width: 100%;
    flex-direction: column;

}



//////////////////////////////////////////////////////////////////////
// ORIENTATION
//////////////////////////////////////////////////////////////////////


.c-Grid-column {
    flex-direction: column;
}

.c-Grid-row\@m {
    @include md {
        flex-direction: row;
    }
}



//////////////////////////////////////////////////////////////////////
// BREAKPOOINTS
//////////////////////////////////////////////////////////////////////

.u-6 {
    width: 50%; 
}

.u-3 {
    width: 25%; 
}