//
// BOX COMPONENT
//





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


.c-Box {
  padding: $padding;
}





//////////////////////////////////////////////////////////////////////
// SIZE MODIFIERS
//////////////////////////////////////////////////////////////////////


.c-Box-xs {
  padding: $padding-xs;
}

.c-Box-s {
  padding: $padding-s;
}

.c-Box-l {
  padding: $padding-l;
}

.c-Box-xl {
  padding: $padding-xl;
}