//
// ICON COMPONENT
//





//////////////////////////////////////////////////////////////////////
// CORE
//////////////////////////////////////////////////////////////////////


//
// ICON
//

.c-Icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}





//////////////////////////////////////////////////////////////////////
// SIZE MODIFIERS
//////////////////////////////////////////////////////////////////////


.c-Icon-l {
    width: 48px;
    height: 48px;
}


.c-Icon-xl {
    width: 96px;
    height: 96px;
}





//////////////////////////////////////////////////////////////////////
// COLOR MODIFIERS
//////////////////////////////////////////////////////////////////////


.c-Icon-grey {
    background-color: $global-color-light-grey;
}


.c-Icon-xl {
    width: 96px;
    height: 96px;
}