//
// TEXT UTILITIES
//





//////////////////////////////////////////////////////////////////////
// JUSTIFY CONTENT
//////////////////////////////////////////////////////////////////////


.u-textAlign-center {
    text-align: center !important;
}



//////////////////////////////////////////////////////////////////////
// JUSTIFY CONTENT
//////////////////////////////////////////////////////////////////////


.u-text-uppercase {
    text-transform: uppercase;
}
