//
// FLEX UTILITIES
//





//////////////////////////////////////////////////////////////////////
// JUSTIFY CONTENT
//////////////////////////////////////////////////////////////////////


.u-flex-center {
    display: flex;
    justify-content: center;
}

.u-flex-center-\@m {
    @include md {
        display: flex;
        justify-content: center;
    }
}

.u-flex-between {
    display: flex;
    justify-content: space-between;
}

.u-flex-between\@m {
    @include md {
        display: flex;
        justify-content: space-between;
    }
}





//////////////////////////////////////////////////////////////////////
// GROW
//////////////////////////////////////////////////////////////////////


.u-flex-grow {
    flex-grow: 1;
}





//////////////////////////////////////////////////////////////////////
// ORDER
//////////////////////////////////////////////////////////////////////


.u-flex-order-1\@m{
    @include md {
        order: 1;
    }
}