//
// SPACING UTILITIES
//





//////////////////////////////////////////////////////////////////////
// MARGIN
//////////////////////////////////////////////////////////////////////


.u-marginTop {
	margin-top: $margin;
}
.u-marginTop-l {
	margin-top: $margin-l;
}
.u-marginTop-xl {
	margin-top: $margin-xl;
}

.u-marginBottom {
	margin-bottom: $margin;
}
.u-marginBottom-xl {
	margin-bottom: $margin-xl;
}

