<!-- BOXES -->
<section class="js-wdw" data-section="wdw-box">

    <section class="c-Box c-Box-xs u-border u-marginBottom u-marginBottom">
            <h3>Extra small box</h3>
            <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    
            <button class="c-Button">Button 2</button>
    </section>

    <section class="c-Box c-Box-s u-border u-marginBottom">
        <h3>Small Box</h3>
        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

        <button class="c-Button">Button 2</button>
    </section>

    <section class="c-Box u-border u-marginBottom">
        <h3>Box</h3>
        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

        <button class="c-Button">Button 2</button>
    </section>

    <section class="c-Box c-Box-l u-border u-marginBottom">
        <h3>Large Box</h3>
        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

        <button class="c-Button">Button 2</button>
    </section>

    <section class="c-Box c-Box-xl u-border u-marginBottom">
        <h3>Extra Large Box</h3>
        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <button class="c-Button">Button 2</button>
    </section>

</section>
