<!-- BUTTONS -->
<section class="js-wdw"  data-section="wdw-buttons">
    <button class="c-Button">Default</button>
    <a class="c-Button c-Button-primary" href="">Primary Button</a>
    <button class="c-Button c-Button-small">Small</button>
</section>
