<!-- HEADINGS -->
<section class="js-wdw" data-section="wdw-headings">
    <h1>This si an H1</h1>
    <h2>This si an H2</h2>
    <h3>This si an H3</h3>
    <h4>This si an H4</h4>
    <h5>This si an H5</h5>
    <h6>This si an H6</h6>

    <h1>This si an H1</h1>
    <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <h2>This si an H2</h2>
    <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <h3>This si an H3</h3>
    <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <h4>This si an H4</h4>
    <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <h5>This si an H5</h5>
    <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>

    <h6>This si an H6</h6>
    <p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>
</section>
