<!-- LIST ITEMS -->
<section class="js-wdw" data-section="wdw-list">

    <div class="c-Box u-border u-marginBottom">
        <h3>Default</h3>
        <ul class="c-List">
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
        </ul>
    </div>

    <div class="c-Box u-border u-marginBottom">
        <h3>Gutter</h3>
        <ul class="c-List c-List-gutter">
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
        </ul>
    </div>

    <div class="c-Box u-border u-marginBottom">
        <h3>Column</h3>
        <ul class="c-List c-List-column">
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
        </ul>
    </div>

    <div class="c-Box u-border u-marginBottom">
        <h3>Column - Dash</h3>
        <ul class="c-List c-List-column c-List-dash">
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
        </ul>
    </div>

    <div class="c-Box u-border u-marginBottom">
        <h3>Column - Gutter</h3>
        <ul class="c-List c-List-column c-List-gutter">
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
            <li class="c-List-Item">Item 1</li> 
        </ul>
    </div>
    
</section>
    