//
// GLOBAL VARIABLES
//

//
// The global settings file contains any project-wide variables.
// Everything that needs to be available to the entire codebase.
//





//////////////////////////////////////////////////////////////////////
// COLORS
//////////////////////////////////////////////////////////////////////


$global-color-primary: #2D93AD !default;
$global-color-secondary: #88AB75 !default;
$global-color-tertiary: #DE8F6E !default;
$global-color-lime: #DBD56E !default;
$global-color-grey: #2f4858 !default;
$global-color-light-grey: rgb(233, 237, 241) !default;





//////////////////////////////////////////////////////////////////////
// FONT SIZE
//////////////////////////////////////////////////////////////////////


$font-size-unit: 1rem !default;
$font-size: $font-size-unit !default;





//////////////////////////////////////////////////////////////////////
// TEXT
//////////////////////////////////////////////////////////////////////


$global-text-color: $global-color-grey !default;
$global-text-color-active: $global-color-primary !default;





//////////////////////////////////////////////////////////////////////
// STANDART UI 
//////////////////////////////////////////////////////////////////////


$global-border: 1px solid $global-color-light-grey !default;
$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;